{% block content %}

<div>
  <h2>Monthly Journal</h2>
  <form method="POST">
    {% csrf_token %} {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
</div>

<div>
  {% for data in monthlyData %}
  <ul style="border: 2px solid black">
    <li>Month: {{data.month}}</li>
    <li>Date: {{data.date}}</li>
    <li>Revenue: {{data.revenue}}</li>
    <li>Cost: {{data.cost}}</li>
    <li>Net Profit: {{data.net_profit}}</li>
    <li>Balance: {{data.balance}}</li>
  </ul>
  {% endfor %}
</div>

{% endblock content %}
